body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: space-between;
}

.principal {
  order: 2;
  width: 50%;
  height: 100vh;
  background: purple;
  color: white;
}

.secundario {
  order: 1;
  width: 20%;
  height: 100vh;
  letter-spacing: 0.2em;
  background: violet;
  color: white;
}

.tercerario {
  order: 3;
  width: 30%;
  height: 100vh;
  letter-spacing: 0.2em;
  background: darkblue;
  color: white;
}

h1, h2 {
  margin: 0;
  padding: 25px;
}

p {
  padding: 5px 20px;
}

@media screen and (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .principal {
    width: 100%;
    height: 100%;
    order: 1;
  }

  .secundario {
    width: 100%;
    height: 100%;
    order: 2;
  }

  .tercerario {
    width: 100%;
    height: 100%;
    order: 3;
  }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  
  .principal {
    width: 65%;
    order: 2;
  }

  .secundario {
    width: 35%;
    order: 1;
  }

  .tercerario {
    width: 100%;
    order: 3;
  }
}
