* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #202125;
}

body {
  background: white;
  margin: 3em;
  padding: 2em;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
  font-family: 'News Cycle', sans-serif;
}

header {
  text-align: center;
  font-size: 4em;
}

.centered {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
}

.main {
  margin-right: 1em;
  padding-right: 2em;
  border-right: 1px solid lightgray;
}

.main img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: bottom;
  margin: 1em auto;
  border-radius: 0.5em;
}

.main p {
  line-height: 1.3;
}

h2 {
  margin: 0.25em 0 0.25em;
  font-weight: 900;
}

.box1 {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 5;
}

.box2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 1px solid lightgray;
}

.article {
  padding: 0.5em;
}

.article i {
  float: left;
  padding: 0.25em;
  font-size: 2em;
  border-radius: 0.25em;
  margin: 0 0.5em 0.25em 0;
}

.fa-car {
  background: rgba(42, 44, 165, 0.5);
  color: rgb(32, 33, 37);
}

.fa-globe-americas {
  background: rgba(42, 136, 165, 0.5);
  color: rgb(0, 53, 0);
}

.fa-football-ball {
  background: rgba(52, 165, 42, 0.5);
  color: rgb(153, 44, 5);
}

.fa-heartbeat {
  background: rgba(165, 42, 118, 0.5);
  color: rgb(82, 1, 1);
}

.article p {
  line-height: 1;
  font-size: 0.8em;
}

.box3 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.user {
  margin: 0 1em;
}

.user i{
  background: rgba(42, 165, 144, 0.5);
  padding: 0.25em;
  font-size: 2.5em;
  border-radius: 50%;
  float: right;
}

.user:hover i {
  filter: invert();
}

.user h4,
.user p {
  line-height: 1;
}

.user p {
  padding-top: 0.5em;
  font-size: 0.8em;
}

.box4 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.box5 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.box6 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
}

.box6 p {
  margin: 1em 0 0;
  padding: 0.5em;
  border-top: 1px solid lightgray;
  text-align: center;
  font-style: italic;
  font-size: 0.75em;
  color: lightgray;
}

.ads p {
  background: linear-gradient(#0e4366, rgba(42, 44, 165, 0.5));
  padding: 25px;
  font-size: 1em;
  color: white;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .wrapper{
    display: flex;
    flex-direction: column;
  }

  .main {
    border: none;
    padding: 0;
    margin: 0;
  }

  .box2{
    margin: 1em 0;
    border-right: none;
  }

  .article {
    padding: 0.25em 0;
  }

  .article p {
    line-height: 1;
    font-size: 1em;
  }

  .user {
    margin: 0.5em 0;
  }
}